::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1b2646;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5f5 transparent;
}

/* Sidebar scrollbar hidden */

.sidebar-scroll {
  overflow-y: auto;
  scrollbar-width: none;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
}

/* Show scrollbar on hover */
.sidebar-scroll:hover {
  scrollbar-width: thin;
}

.sidebar-scroll:hover::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 10px;
}

/* ===============================
   DATATABLE TOP CONTROLS
================================ */

.dataTables_wrapper .dataTables_length {
  float: left;
  margin: 10px 0;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  margin: 10px 0;
}

/* .dataTables_wrapper .dataTables_filter input {
  margin-left: 6px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 2px solid #dddddd;
  outline: none;
  transition: all 0.5s ease;
  font-size: 12px;
} */

/* .dataTables_wrapper .dataTables_filter input:focus{
    border: 2px solid #2563eb;
} */

/* clear floats */

.dataTables_wrapper::after {
  content: "";
  display: block;
  clear: both;
}

/* ===============================
   PAGINATION ALIGN RIGHT
================================ */

.dataTables_wrapper .dataTables_paginate {
  float: right;
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ===============================
   PAGINATION BUTTON STYLE
================================ */

.dataTables_paginate .paginate_button {
  padding: 6px 12px !important;
  border-radius: 6px;
  border: 1px solid #e2e8f0 !important;
  background: white !important;
  color: #334155 !important;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* spacing between buttons */

.dataTables_paginate .paginate_button + .paginate_button {
  margin-left: 4px;
}

/* hover */

.dataTables_paginate .paginate_button:hover {
  background: #2563eb !important;
  color: white !important;
  border-color: #2563eb !important;
}

/* ACTIVE PAGE */

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #2563eb !important;
  color: white !important;
  border-color: #2563eb !important;
  font-weight: 600;
}

/* disabled buttons */

.dataTables_paginate .paginate_button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* ===============================
   INFO TEXT
================================ */

.dataTables_wrapper .dataTables_info {
  float: left;
  margin-top: 18px;
  color: #64748b;
  font-size: 10px;
}

/* ===============================
   MOBILE FIX
================================ */

@media (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .dataTables_wrapper .dataTables_paginate {
    justify-content: center;
    float: none;
    margin-top: 14px;
  }

  .dataTables_wrapper .dataTables_length {
  margin: 30px 0;
}

.dataTables_wrapper .dataTables_filter {
  margin: 30px 0;
}


}


th, td{
  text-align: left !important;
}

.card{
background:white;
padding:24px;
border-radius:12px;
border:1px solid #e2e8f0;
}

.cardTitle{
font-weight:600;
margin-bottom:12px;
color:#334155;
}

.input{
width:100%;
height:40px;
border:1px solid #e2e8f0;
border-radius:8px;
padding:0 10px;
}

.label{
font-size:12px;
color:#64748b;
}

.btnPrimary{
background:#2563eb;
color:white;
padding:8px 14px;
border-radius:8px;
display:flex;
align-items:center;
gap:6px;
}

.invoiceTable{
width:100%;
font-size:14px;
}

.invoiceTable th{
text-align:left;
padding:12px;
background:#f8fafc;
}

.invoiceTable td{
padding:12px;
border-top:1px solid #f1f5f9;
}

.rowTotal{
font-weight:600;
}

.deleteBtn{
color:#ef4444;
padding:6px;
}

.summaryRow{
display:flex;
justify-content:space-between;
padding:10px 0;
}

.totalRow{
font-size:18px;
font-weight:600;
}

.ts-control{
border-radius:8px;
border:1px solid #e2e8f0;
height:40px;
}

.ts-dropdown{
border-radius:8px;
}

.searchSelect{
position:relative;
width:100%;
}

.selectDisplay{
height:2.5rem;
border:1px solid #e2e8f0;
border-radius:8px;
padding:8px 10px;
cursor:pointer;
background:white;
display:flex;
align-items:center;
}

.selectDropdown{
display:none;
position:absolute;
top:100%;
left:0;
right:0;
background:white;
border:1px solid #e2e8f0;
border-radius:8px;
margin-top:4px;
z-index:100;
box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.dropdownSearch{
width:100%;
border:none;
border-bottom:1px solid #e2e8f0;
padding:8px;
outline:none;
}

.dropdownList{
max-height:200px;
overflow-y:auto;
}

.dropdownList li{
padding:8px 10px;
cursor:pointer;
}

.dropdownList li:hover{
background:#f1f5f9;
}